option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1800
  - option_name: NODE_ENV
    value: production
    
container_commands:
  01setup_swap:
      command: "bash .ebextensions/setup_swap.sh"
  02_node_symlink:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v6* | head -1`/bin/node /bin/node"
  03_npm_symlink:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v6* | head -1`/bin/npm /bin/npm"
  04_webpack_install:
    command: "npm install webpack@2.6.1 -g"
  05_webpack_symlink:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v6* | head -1`/bin/webpack /bin/webpack"
  06_rimraf_install:
    command: "npm install rimraf -g"
  07_rimraf_symlink:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v6* | head -1`/bin/rimraf /bin/rimraf"
  08_crossenv_install:
    command: "npm install cross-env -g"
  09_crossenv_symlink:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v6* | head -1`/bin/cross-evn /bin/cross-env"
  10_relaycompiler_install:
    command: "npm install relay-compiler -g"
  11_relaycompiler_symlink:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v6* | head -1`/bin/relay-compiler /bin/relay-compiler"
